<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body><h1>REGISTRATION</h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="Username" placeholder="Enter the username"><br>
    <input type="text" name="First_name" placeholder="Enter your firstname"><br>
    <input type="text" name="Last_name" placeholder="Enter your lastname"><br>
    <input type="email" name="Email" placeholder="Enter your email address"><br>
    <input type="password" name="Password" placeholder="Enter your password"><br>
    <input type="password" name="Password1" placeholder="Confirm your password"><br>
    <input type="submit">



</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}

</body>
</html>